<div class="form_item_block">
    <label>Go Server Base URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="server_base_url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[server_base_url].$error.server">{{ GOINPUTNAME[server_base_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>DeliFlow OAuth Server:<span class="asterisk">*</span></label>
    <input type="text" ng-model="oauth_server" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[oauth_server].$error.server">{{ GOINPUTNAME[oauth_server].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>OAuth Client ID:<span class="asterisk">*</span></label>
    <input type="text" ng-model="consumer_key" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[consumer_key].$error.server">{{ GOINPUTNAME[consumer_key].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>OAuth Client Secret:<span class="asterisk">*</span></label>
    <input type="text" ng-model="consumer_secret" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[consumer_secret].$error.server">{{ GOINPUTNAME[consumer_secret].$error.server }}</span>
</div>



<div class="form_item_block">
    <label>Access Token Url<span class="asterisk">*</span></label>
    <input type="text" ng-model="access_token_url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[access_token_url].$error.server">{{ GOINPUTNAME[access_token_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Profile Url<span class="asterisk">*</span></label>
    <input type="text" ng-model="profile_url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[profile_url].$error.server">{{ GOINPUTNAME[profile_url].$error.server }}</span>
</div>
